@import "tailwindcss";

@layer base {
  :root {
    --lightHover: #fcf4ff;  
    --darkHover: #2a004a;
    --darkTheme: #11001f;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --lightHover: #fcf4ff;  
      --darkHover: #2a004a;
      --darkTheme: #11001f;
    }
  }
}

@theme inline {
  --color-darkTheme: var(--background);
  --color-darkHover: var(--foreground);
  --color-lightHover: var(--lightHover); 
}

@layer utilities{
  :hover.shadow-black{
    box-shadow: 4px 4px 0 theme(--color-neutral-950);
    background-color: #fcf4ff
  };
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Outfit;
}